.student {
	display: inline-block;
	margin: 10px;
	border: 2px solid black;
	border-radius: 5px;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	position: relative;
	cursor: pointer;
	background-color: rgba(1, 100, 500, 0.1);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.count {
	margin-top: 10px;
	font-size: 40px;
}

.selected {
	background-color: rgba(1, 100, 500, 0.5);
}

.button {
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 3px solid black;
	border-radius: 8px;
	text-align: center;
	font-size: 40px;
	margin-left: 30px;
	cursor: pointer;
	background-color: rgba(50, 1, 1, 0.1);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.wide {
	width: 100px;
}

#inputText {
	margin: 10px;
	display: inline-block;
}

button {
	margin-right: 100px;
}

a:visited {
	color: black;
}
