* {
	font-family: 'Maven Pro';
}

table {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
}

th {
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
}

// Heading
* {
	font-family: 'Maven Pro', sans-serif;
}

body {
	background-color: rgb(226, 210, 166);
}

a {
	color: black;
}

a:hover {
	font-weight: bold;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.headLinks:hover {
	font-weight: bold;
}

.head {
	display: inline-block;
	height: 25px;
	width: 200px;
	text-align: center;
	margin: 10px;
	background-color: navy;
	border-radius: 6px;
	border: 1px solid #666666;
	line-height: 25px;
	box-shadow: 2px 2px #AAAAAA;
}

#heading {
	margin: auto;
	width: 1200px;
	border-radius: 8px;
	background-color: blue;
	border: 2px solid navy;
	padding-top: 1px;
	margin-top: 1px;
}

#listDiv {
	height: 30px;
	width: 250px;
	margin-top: 1px; 
	line-height: 30px;
}

.headLinks {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Maven Pro', sans-serif;
}

#list {
	box-shadow: 1px;
	font-size: 22px;
}


#header {
	width: 1220px;
	margin: auto;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}

#logo {
	font-size: 40px;
	color: navy;
	text-shadow: 2px 2px lime;
	height: 50px;
	width: 200px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 1px;
	padding-bottom: 1px;
}

h4 {
	margin-top: 1px;
	padding-top: 1px;
} 
//End heading 