body {
	background-color: navajowhite;
}

p {
	font-size: 25px;
	margin-left: 10px;
	margin-right: 10px;
	display: block;
}

#goOnButton {
	border: 3px solid black;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: black;
	background-color: white;
	text-decoration: none;
	width: 100px;
	height: 24px;
	font-size: 20px;
	padding: 2px;
	margin: 20px;
	display: block;
}	

#goOnButton:hover {
	background-color: black;
	color: white;
}	

#choiceLabel {
	font-size: 30px;
	font-weight: bold;
	margin-left: 10px;
}

h1 {
	margin-left: 10px;
	margin-right: 10px;
}

img {
	width: 45%;
	display: inline-block;
}

#bed {
	margin-right: 10px;
	float: right;
}

#chair {
	margin-left: 10px;
}