.link {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
}

.description {
	margin-left: 40px;
}

.special {
	color: red;
}

.divider {
	border-radius: 5px;
	padding: 2px;
}

#protection {
	background-color: rgba(0, 0, 0, .1);
	border: 3px solid black;
}	

#linux {
	background-color: rgba(0, 0, 0, .1);
	border: 3px solid black;
}

#php {
	background-color: rgba(253, 120, 11, .2);
	border: 3px solid orange;
}

#python {
	background-color: rgba(15, 112, 2, .2);
	border: 3px solid green;
}

#commandLine {
	background-color: rgba(237, 255, 255, .2);
	border: 3px solid grey;
}

#tasks {
	background-color: rgba(252, 0, 10, .2);
	border: 3px solid red;
}

#troubleshooting {
	background-color: rgba(25, 197, 198, .2);
	border: 3px solid darkturquoise;
}

#hardware {
	background-color: rgba(0, 0, 108, .1);
	border: 3px solid navy;
}

#hacking1 {
	background-color: rgba(0, 0, 0, .1);
	border: 3px solid black;
}

#buying {
	background-color: rgba(35, 255, 9, .2);
	border: 3px solid lime;
}

#windows {
	background-color: rgba(56, 109, 165, .2);
	border: 3px solid steelblue;
}

#expert {
	background-color: rgba(119, 0, 3, .3);
	border: 5px solid dimgray;
}

.pe {
	color: lime;
	text-shadow: 1px 1px white;
}

#hacking2 {
	background-color: rgba(0, 0, 108, .1);
	border: 3px solid navy;
}

#github {
	background-color: rgba(103, 75, 233, .2);
	border: 3px solid mediumslateblue;
}

#ror {
	background-color: rgba(141, 63, 34, .2);
	border: 3px solid sienna;
}

#ruby {
	background-color: rgba(161, 16, 26, .2);
	border: 3px solid firebrick;
}	

#languages {
	background-color: rgba(119, 0, 120, .2);
	border: 3px solid darkmagenta;
}

#java {
	background-color: rgba(255, 255, 14, .2);
	border: 3px solid yellow;
}

#security {
	background-color: rgba(36, 62, 62, .2);
	border: 3px solid darkslategray;
}

#basics {
	background-color: rgba(33, 165, 153, .2);
	border: 3px solid lightseagreen;
}

#projects {
	background-color: rgba(252, 144, 10, .2);
	border: 3px solid orangered;
}