.img {
	width: 150px;
	border: 1px solid black;
	margin: 3px;
	display: inline-block;
	margin-right: 0px;
}

img {
	width: 100%;
	padding: 0px;
	height: 100%;
	display: inline-block;
}

.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	text-decoration: underline;
}

.box {
	border: 3px solid black;
	margin: 5px;
}	

.title {
	font-size: 40px;
	font-weight: bold;
	border: 1px solid black;
	margin: 3px;
	width: 100%;
	margin-right: 2px;
	display: inline-block;
}

.description {
	border: 1px solid black;
	margin: 3px;
	width: 99.5%;
	font-family: sans-serif;
	padding: 2px;
	min-height: 40px;
	display: inline-block;
}

.notes {
	border: 1px solid black;
	margin: 3px;
	font-family: 'Papyrus', 'Comic Sans MS', serif;
	padding: 1px;
	vertical-align: center;
}

.wrapper {
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
	width: 82.75%;
}
