.link {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
}

.description {
	margin-left: 40px;
}

.linkBox {
	padding: 2px;
	border-radius: 5px;
	border: 3px solid black;
}

img {
	display: inline-block;
	size: 100%;
	width: 22%;
	margin: 1%;
	float: top;
}

.crop {
	overflow: hidden;
	border-radius: 20px;
}

.quote {
	font-size: 40px;
	text-align: center;
	display: block;
	margin: 20px;
	font-family: 'Impact', serif;
}

.bold {
	font-weight: bold;
	font-family: sans-serif;
}

.pro {
	width: 45%;
}

#proBox {
	margin: auto;
}

iframe {
	display: inline-block;
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0; 
	top: 0;
}

#vidBox {
	margin: auto;
	text-align: center;
}

.aspect-ratio {
  position: relative;
  width: 45%;
  height: 0;
  padding-bottom: 35%;
  display: inline-block;
}