body {
	background-color: black;
}

div {
	display: inline-block;
	text-align: center;
}

.box {
	border: 2px solid white;
	border-radius: 5px;
	width: 200px;
	height: 100px;
	margin-top: 0px;
	margin: 5px;
	font-size: 40px;
	box-shadow: 2px 2px 2px black;
	line-height: 90px;
	background-color: blue;
}

.rowBox {
	width: 206px;
	margin: 5px;
}

.titleBox {
	color: white;
	margin-bottom: 20px;
	margin-top: 0px;
	text-shadow: 3px 3px 3px black;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;     
}

#container {
	margin: 0px;
}

a {
	color: yellow;
}

a:visited {
	color: blue;
}

#reset {
	border: 2px solid white;
	border-radius: 5px;
	background-color: grey;
	margin: auto;
}