table {
	border: 3px solid black;
	min-width: 70px;
	font-size: 25px;
}

td {
	border: 1px solid black;
	width: 35%;
	text-align: center;
}

#title {
	font-weight: bold;
}

#insertHere {
	text-decoration: underline;
}

h1 {
	margin: 2px;
}

button {
	margin-left: 10px;
	font-size: 15px;
	border-radius: 5px;
	background-color: white;
}

form {
	margin: 5px;
}

#grade2 {
	margin: 5px;
}

.space {
	margin: 2px;
}

span.space {
	margin-bottom: 50px;
}

#firstQuarterLabel {
	margin: 5px;
	margin-top: 5px;
}

#grade1 {
	margin-top: 5px;
}

label, input {
	cursor: pointer;
}