#returnToHome {
	position: fixed;
	background-color: white;
	border: 2px solid black;
	padding: 2px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	width: 150px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	font-size: 16px;
	color: black;
}

#returnToHome:hover {
	font-weight: bold;
}
