h2 {
    font-family: arial;
    font-size: 40px;
}

#checkListForm {
    display: inline-block;
}

#button {
    display: inline-block;
    height: 20px;
	width: 70px;
	background-color: #cc0000;
	font-family: arial;
	font-weight:bold;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
}

.list {
	font-family: garamond;
	color: black;
}

.item {
	border-radius: 5px;
	background-color: mediumorchid;
	margin-top: 5px;
	font-size: 30px;
	border: 1px solid black;
	cursor: default;
}

.xbox {
	display: inline;
	margin-right: 20px;
	color: red;
	border-radius: 5px;
	background-color: darkred;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.xbox:hover {
	color: white;
}

#TODO {
	width: 600px; 
	height: 300px; 
	overflow: auto; 
	border: 3px solid black;
	margin: 2px;
	margin-top: 50px;
	margin-left: 50px;
}

#wrapper {
	margin-left: 10px;
	margin-right: 10px;
}