@import "../styles/variables";
@import "/node_modules/bootstrap/scss/functions";

.col {
  padding: 2em;
}

.card {
  margin: 1.3em;

  .card-body {
    background-color: tint-color($yellow, 90%);
    padding: 1em;
    padding-bottom: 0;
  }

  blockquote {
    line-height: 1.7em;

    .blockquote-footer {
      margin-top: 0.3em;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

textarea {
  width: 80%;
  padding: 20px;
}
