$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #aaa;
$gray-600: #868e96;
$gray-700: #555;
$gray-800: #333;
$gray-900: #212529;
$black: #000;

$blue: #286bb2;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #c22f31;
$orange: #f39237;
$yellow: #ffe330;
$green: #3d7b28;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $blue;
$secondary: $red;
$success: $green;
$info: $purple;
$warning: $yellow;
$danger: $orange;
$light: $white;
$dark: $gray-700;

$font-family-sans-serif: "Sue Ellen Francisco", -apple-system, system-ui,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$headings-font-family: "Fredericka the Great", cursive;

$font-size-root: null;
$font-size-base: 2rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.4;
$h2-font-size: $font-size-base * 1.9;
$h3-font-size: $font-size-base * 1.65;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;

$navbar-brand-font-size: $font-size-lg + 1;
$navbar-brand-margin-end: 1rem;

$border-width: 4px;
